* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

#chart,
#mainElements,
#graphInfo,
#graphOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#infoElements,
#graph,
#title,
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart,
#graphInfo,
#title,
#buttons,
#graphOptions {
  flex-direction: column;
}

#infoElements,
#graph,
#title,
#buttons,
.labelsBtn,
.clearBtn {
  background-color: hsla(122, 4%, 100%, 0.75);
  border-radius: 1%;
  box-shadow: -5px 5px 5px 1px hsla(220, 12%, 67%, 1);
}

#chart {
  height: 100%;
  width: 100%;
  background-color: hsla(220, 12%, 89%, 1);
}

#mainElements {
  height: 90%;
  width: 95%;
  background-color: transparent;
}

#infoElements {
  height: 5%;
  width: 92.5%;
}

#graphInfo {
  height: 100%;
  width: 20%;
}

#graph {
  height: 95%;
  width: 75%;
}

#title {
  height: 25%;
  width: 100%;
}

#buttons {
  height: 65%;
  width: 100%;
}

#beerSet {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 15px;
  height: 7%;
  width: 50%;
  text-align: center;
  text-align-last: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
}

#beerSet option {
  background: hsla(220, 12%, 89%, 1);
  font-size: 13px;
}

#graphOptions {
  width: 30%;
  height: 100%;
}

#barChart {
  width: 70%;
  height: 100%;
}

.barInfoTxt {
  font-size: 15px;
  font-weight: normal;
  margin: 15px;
}

.titleMainTxt,
.titleAdditionalTxt,
.titleDigressionTxt {
  margin: 5px;
  text-align: center;
}

.titleMainTxt {
  font-size: 25px;
  font-weight: bold;
}

.titleAdditionalTxt {
  font-size: 20px;
  font-weight: normal;
}

.titleDigressionTxt {
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.btnTxt,
.labelsBtn,
.clearBtn {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
  margin: 15px;
}

#btn,
.labelsBtn,
.clearBtn {
  height: 12%;
  width: 50%;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin: 25px;
  border: none;
  border-radius: 1%;
  box-shadow: -2px 2px 3px 2px hsla(220, 12%, 67%, 1);
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s linear;
}

#btn:focus,
.labelsBtn:focus,
.clearBtn:focus,
#beerSet:focus {
  outline: 0;
}

#btn.earlierBtn.active,
#btn.laterBtn.active,
.labelsBtn.active,
.clearBtn.active {
  color: hsla(133, 99%, 29%, 1);
  animation: buttonsAnimation 0.2s;
}

.activeBar {
  fill: hsla(133, 100%, 11%, 0.94);
}

.infoTxt {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 3px;
}

.tip {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background: hsla(133, 4%, 14%, 0.96);
  color: hsla(220, 12%, 89%, 1);
}

.barInfo {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.barInfo::-webkit-scrollbar {
  width: 5px;
  background: hsla(223, 13%, 78%, 1);
}

.barInfo::-webkit-scrollbar-thumb {
  background: hsla(220, 12%, 67%, 1);
}

.hopsDisplayedInfo {
  text-transform: none;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

.hopsValue {
  font-size: 15px;
  font-weight: bold;
}

.hopsName {
  font-size: 14px;
}

@keyframes buttonsAnimation {
  0% {
    box-shadow: -2px 2px 3px 2px hsla(220, 12%, 67%, 1);
  }

  50% {
    box-shadow: 0px 0px 0px 1px hsla(133, 99%, 29%, 1);
  }

  100% {
    box-shadow: -2px 2px 3px 2px hsla(220, 12%, 67%, 1);
  }
}
